.App {
  text-align: left;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 15px;
}

#uploader {
  width: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.file-upload{

  box-shadow: 2px 2px 2px 2px #ccc;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  font-size: 1rem;
}

.upbutton{
   cursor: pointer;
   width: 75px;
}